Source: apt-transport-storj
Section: admin
Priority: optional
Maintainer: paul cannon <pik@debian.org>
Build-Depends: debhelper-compat (= 12),
               dh-golang,
               golang-go (>= 1.18),
               golang-github-stretchr-testify-dev,
               golang-go.uber-atomic-dev,
               golang-go.uber-multierr-dev,
               golang-go.uber-zap-dev,
               golang-golang-x-sync-dev,
               golang-golang-x-sys-dev,
               golang-pault-go-debian-dev,
               golang-pault-go-topsort-dev,
               golang-golang-x-crypto-dev,
               golang-github-gogo-protobuf-dev,
               golang-gopkg-yaml.v3-dev,
               golang-github-datadog-zstd-dev,
               golang-github-davecgh-go-spew-dev,
               golang-github-kjk-lzma-dev,
               golang-github-pmezard-go-difflib-dev,
               golang-github-xi2-xz-dev
Standards-Version: 4.6.1.0
XS-Go-Import-Path: storj.io/apt-transport-storj
Homepage: https://github.com/storj/apt-transport-storj

Package: apt-transport-storj
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Built-Using: ${misc:Built-Using}
Description: APT transport using the Storj network
 The apt-transport-storj package provides support for downloading APT
 package lists and packages via the Storj network (storj.io). Storj
 provides reliable, secure, fast online storage via a distributed
 network of individual providers.
