#!/usr/bin/make -f

export DH_GOLANG_EXCLUDES := mirroring

override_dh_auto_build:
	dh_auto_build
	mv _build/bin/apt-transport-storj _build/bin/storj-apt

override_dh_auto_install:

%:
	dh $@ --builddirectory=_build --buildsystem=golang --with=golang
